.grass {
	background: #3c0;
}

.soil {
	background: #963;
}

.stone {
	background: #999;
}

.sand {
	background: #ff9;
}

.water {
	background: #36f;
}


#char {
	background: url("../gfx/char.png");
	width: 32px;
	height: 64px;
	margin-top: -32px;
}

.tree {
	background: url("../gfx/tree.png");
	width: 32px;
	height: 48px;
	margin-top: -16px;
}

.rock {
	background: url("../gfx/rock.png");
	width: 32px;
	height: 48px;
	margin-top: -16px;
}

.mossRock {
	background: url("../gfx/moss-rock.png");
	width: 32px;
	height: 48px;
	margin-top: -16px;
}

.sandStone {
	background: url("../gfx/sand-stone.png");
	width: 32px;
	height: 48px;
	margin-top: -16px;
}

.redDiamond {
	background: url("../gfx/red-diamond.png");
	width: 32px;
	height: 32px;
}

.blueDiamond {
	background: url("../gfx/blue-diamond.png");
	width: 32px;
	height: 32px;
}

.greenDiamond {
	background: url("../gfx/green-diamond.png");
	width: 32px;
	height: 32px;
}

.axe {
	background-image: url("../gfx/axe.png");
	width: 32px;
	height: 32px;
	background-size: 32px;
}

.pickaxe {
	background-image: url("../gfx/pickaxe.png");
	width: 32px;
	height: 32px;
	background-size: 32px;
}

.wood {
	background-image: url("../gfx/wood.png");
	width: 32px;
	height: 32px;
	background-size: 32px;
}

.brick {
	background-image: url("../gfx/brick.png");
	width: 32px;
	height: 32px;
	background-size: 32px;
}

.sandBrick {
	background-image: url("../gfx/sand-brick.png");
	width: 32px;
	height: 32px;
	background-size: 32px;
}

.carrot {
	background-image: url("../gfx/carrot.png");
	width: 32px;
	height: 32px;
	background-size: 32px;
}
