body {
	background: black;
	
	display: flex;
	justify-content: center;
	align-items: center;
	height: 100vh;
	margin: 0;
}

#viewport {
	width: 512px;
	height: 512px;
	overflow: hidden;
}

#world {
	position: relative;
}

#ground {
}

.row {
	display: flex;
}

.tile  {
	flex: none;
	width: 32px;
	height: 32px;
}


.grass {
	background: #3c0;
}

.soil {
	background: #963;
}

.stone {
	background: #999;
}

.sand {
	background: #ff9;
}

.water {
	background: #36f;
}


#char {
	box-sizing: border-box;
	background: #fc9;
	width: 16px;
	height: 28px;
	border-radius: 8px;
	border: 1px solid black;
	position: absolute;
	margin-left: 8px;
	margin-top: 4px;
	left: 0;
	top: 0;
}
