body {
	background: black;
	display: flex;
	justify-content: center;
	align-items: center;
	height: 100vh;
	margin: 0;
}

#viewport {
}

#canvas {
	display: block;
}


/*

#viewport {
	width: 512px;
	height: 512px;
	overflow: hidden;
}

#world {
	position: relative;
}

#ground {
	position: relative;
}

.row {
	position: absolute;
	left: 0;
}

.tile  {
	position: absolute;
	top: 0;
	width: 32px;
	height: 32px;
	opacity: 1;
	transition: opacity 0.5s;
}

.sprite {
	position: absolute;
	opacity: 1;
	transition:
		opacity 0.5s,
		left 0.5s,
		top 0.5s;
}

.nodisplay {
	display: none;
}

.invis {
	opacity: 0;
}


.grass {
	background: #3c0;
}

.soil {
	background: #963;
}

.stone {
	background: #999;
}

.sand {
	background: #ff9;
}

.water {
	background: #36f;
}


#char {
	background: url("../gfx/char.png");
	width: 32px;
	height: 64px;
	margin-top: -32px;
}

.tree {
	background: url("../gfx/tree.png");
	width: 32px;
	height: 48px;
	margin-top: -16px;
}
*/
